@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 62.5%;
  font-family: "Albert Sans", sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  height: 100dvh;
  width: 100dvw;
}

.text_container > h1 {
  font-size: 3rem;
}

#text_slider {
  appearance: none;
  width: 50%;
  height: 3px;
  background-color: black;
}
#text_slider::-webkit-slider-thumb {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}
