#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  font-size: 5rem;
  gap: 3rem;
}

#minus,
#plus {
  padding-top: 1rem;
  cursor: pointer;
}

#minus:hover,
#plus:hover {
  opacity: 0.5;
}
